<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Safeweb Fornecedores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/fornecedores/">Fornecedores</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/categorias/">Categorias</a>
        </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/users/">Usuários</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/account/login" *ngIf="!isLoggedIn; else logout">Entrar</a>
        <ng-template #logout>
          <button class="nav-link btn btn-link" (click)="sair()">Sair</button>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>