<div *ngIf="proposta">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Aprovar a proposta #{{ proposta.Numero }}?
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <dl class="dl-horizontal">
        <dt> Data da proposta </dt>
        <dd> {{ proposta.Data | date:'dd/MM/yyyy HH:mm' }} </dd>

        <dt> Situacao </dt>
        <dd> {{ getSituacao(proposta.Situacao) }} </dd>

        <dt> Nome </dt>
        <dd> {{ proposta.Nome }} </dd>

        <dt> Categoria </dt>
        <dd> {{ proposta.Categoria.Descricao }} </dd>

        <dt> Fornecedor </dt>
        <dd> {{ proposta.Fornecedor.Nome }} </dd>

        <dt> Valor R$ </dt>
        <dd> {{ proposta.Valor | currency:'BRL' }} </dd>

        <dt> Descrição </dt>
        <dd> {{ proposta.Descricao }} </dd>

      </dl>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <a [routerLink]="['/propostas']" class="btn">
          <i class="fas fa-arrow-left"></i> Voltar</a>
      </div>
    </div>
  </div>
</div>

